@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

:root{
  --theme-color:#881919;

  --navbar-dropdown-bg: #e45757;
  --navvar-dropdown-bg-hover: #f38080;
  --navlink-hover: #f38080;
  --bg-0-navbar-text-color: #881919;
  --bg-0-navbar-text-color-hover: #f38080;

  --scroll-bar-track-color: #535353;
  --scroll-bar-color: #612020;
  --scroll-bar-hover-color: #ca7b7b;

  --backto-top-color: #881919;
  --backto-top-hover:  #535353;

  --body-bg-color: rgb(84, 84, 90);
  --body-text-color: #fdfdfd;

  --text-white: #fff;

  --bg-footer: rgb(8, 8, 34);

  --black: #000;
}

html{
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif !important;
  -webkit-transition: all 3s;
  scroll-behavior: smooth;
}

body {
  background: var(--body-bg-color);
  color: var(--body-text-color);
  font-family: "Open Sans", sans-serif;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
  font-size: 16px;
}

table {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}


/*scroll-bar*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color:var(--scroll-bar-track-color); 
  border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var( --scroll-bar-color); 
  border-radius: 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-hover-color); 
}
/*scroll-bar*/

/* navbar */
.navbar{
  Padding: 16px 10px 16px 10px;
  font-size: 16px;
  -webkit-transition: background 1s; /* For Safari 3.1 to 6.0 */
  transition: background 1s;
}

.navbar-brand{
  -webkit-transition: background 2s; /* For Safari 3.1 to 6.0 */
  transition: background 2s;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--bg-0-navbar-text-color) !important;
  
  -webkit-transition: background 2s; /* For Safari 3.1 to 6.0 */
  transition: background 2s;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: var(--bg-0-navbar-text-color-hover) !important;
}

.navbar-dark .navbar-nav .nav-link {
  
  -webkit-transition: background 2s; /* For Safari 3.1 to 6.0 */
  transition: background 2s;
}

.navbar .dropdown-menu{
  padding: 0 !important;
  margin: 0 !important;
  font-size: 16px !important;
  border: none !important;
  background-color: var(--navbar-dropdown-bg) !important;
  text-align: center !important;
}

.navbar .dropdown-item{
  color: var(--text-white) !important;
}

.navbar .dropdown-item:hover,.navbar .dropdown-item:focus {
  color: var(--text-white) !important;
  background-color: var(--navvar-dropdown-bg-hover) !important;
}

.bg-rover{
  background-color: var(--theme-color);
}

.nav-link:hover{
  color: var(--navlink-hover) !important;
}
/* navbar */

.btn-outline-rover{
  color: var(--theme-color);
  border-color: var(--theme-color);
}

.btn-outline-rover:hover{
  color: #ffffff;
  border-color: var(--theme-color);
  background-color: var(--theme-color);
}

/* header */
header {  
  margin-top: 0px;
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
  background-size: cover;


  color: var(--theme-color);
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header{
  font-size: 48px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  color: var(--theme-color);
}

.print-header{
  font-size: 24px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  color: var(--black);
}


/* header */
section {
  padding: 150px 0;
}

/* Footer */
.bg-footer{
  background-color: var(--bg-footer);
}
/* /Footer */


/* Backtotop */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 7px; /* Place the button 70px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--backto-top-color); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 8px 13px 8px 13px; /* Some padding */
  border-radius: 500px; /* Rounded corners */
  font-size: 14px; /* Increase font size */
}

#myBtn:hover {
  background-color: var(--backto-top-hover); /* Add a color on hover */
}
/* /backtotop */