:root{
  --input-border-color:  #7f7f7f00;
  --input-border-bottom-color:  #c4c4c4;
  --inputbox-shadow:  rgba(60, 183, 255, 0.582);  
  --invalid-inputbox-shadow:  rgba(172, 30, 30, 0.582);
  --input-text-color: rgb(233, 233, 233);
  --placeholder-color: rgba(226, 226, 226, 0.781);
}
.form-control{
  border: 1px solid var(--input-border-color) !important;
  border-bottom: 2px solid var(--input-border-bottom-color) !important;
  border-radius: 2rem !important;
  height: 3.2rem;
  background-color: transparent !important;
  font-size: 14px;
  padding-left: 20px;
  color: var(--input-text-color) !important;
}

.form-control:focus, .form-control:hover{
  box-shadow: 0 0 0.5rem 0.1rem var(--inputbox-shadow) !important
}

.is-invalid, .is-invalid:focus, .is-invalid:hover{
  box-shadow: 0 0 0.6rem 0.3rem var(--invalid-inputbox-shadow) !important
}

label{
  font-size: 14px !important;
}

.btn{
  border-radius: 2.3rem;
}

/* Placeholder Color */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholder-color) !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--placeholder-color) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--placeholder-color) !important;
}
/* /Placeholder Color */

option{
  background-color:var(--body-bg-color) !important;
  border: none !important;
  border-radius: 1rem !important;
}


